@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
  /* Fontes */
  --font-primary: 'Inter', sans-serif;

  /* Tamanhos de Fonte */
  --font-size-text-small: 13px;
  --font-size-text: 16px;
  --font-size-text-large: 18px;
  --font-size-title-h3: 20px;
  --font-size-title-h2: 25px;
  --font-size-title-h1: 28px;
  --font-size-big: 31px;

  /* Pesos de Fonte */
  --font-weight-regular: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 700;
}
