<app-modal *ngIf="isLoginModalOpen" [isOpen]="isLoginModalOpen" (onClose)="onClose.emit()" title="Login">
  <div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="onLogin()">
      <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required />
      <input type="password" [(ngModel)]="password" name="password" placeholder="Senha" required />
      <button type="submit">Entrar</button>
    </form>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </div>
</app-modal>